# requirements.txt
streamlit
python-dotenv
PyPDF2
docx
tiktoken
langchain
textblob
faiss-cpu
python-docx
numpy
aiohttp
async-timeout
langchain-core
langchain-text-splitters
langsmith
numpy
pydantic
PyYAML
requests
SQLAlchemy
tenacity
langsmith
langchain-core
langchain-community
openai
langchain-openai
langchain-community
watchdog